body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #EA1C2C;
    font-size: 2.5rem;
    font-weight: 100;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

#mainNav .navbar-brand {
    color: #ea1c2c;

}

#mainNav {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover {
    color: #ea1c2c;
}

.slash {
    color: #EA1C2C;
}

.content {
    margin-bottom: 100px;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms ease-in-out;
}

@media (max-width:1340px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}